.contact {
  padding: 150px 0;
}

.contact__info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.contact__form,
.contact__form-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark);
  gap: 45px;
}

.contact__form {
  border: 1px solid var(--border-form);
  box-shadow: 2px 11px 12px var(--shadow-color);
  border-radius: 20px;
  padding: 52px 25px;
}

.contact__form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.contact__input {
  width: 100%;
  padding: 19px 20px;
}

.contact__form-elements .btn {
  width: 100%;
}

.contact__address-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 80px;
}

.address__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: auto;
  gap: 15px;
}

.address__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.address__text a {
  color: var(--text-grey);
}

.address__text {
  font-size: 16px;
}

.icon-location {
  width: 28px;
}

.icon-phone {
  width: 22px;
}

.icon-mail {
  width: 32px;
}

@media screen and (min-width: 500px) {
  .contact__form {
    padding: 52px 50px;
  }  

  .contact__form-elements .btn {
    width: auto;
    align-self: self-start;
    padding: 18px 48px;
  }  
}

@media screen and (min-width: 600px) {
  .contact__form,
  .contact__form-elements {
    max-width: 453px;
  }
}

@media screen and (min-width: 768px) {
  .contact__form,
  .contact__form-elements {
    max-width: 553px;
  }

  .contact__address-info {
    gap: 50px;
  }

  .contact__map {
    width: 516px;
    height: 330px;
  }
}

@media screen and (min-width: 892px) {
  .contact__address-info {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (min-width: 992px) {
  .contact__info {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
  }

  .contact__form,
  .contact__form-elements {
    max-width: 453px;
  }

  .contact__address-info {
    align-items: normal;
  }
}

@media screen and (min-width: 1200px) {
  .address__list {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .address__item {
    max-width: 292px;
    flex-direction: column;
    text-align: center;
  }
}