footer {
  color: var(--white);
  background: var(--text-dark);
}

footer a {
  color: var(--white);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  margin: 0 auto;
  gap: 76px;
}

.footer__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 73px;
}

.column__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 25px;
}

.column__list {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 28px;
  gap: 16px;
}

.column__item {
  width: 170px;
}

.footer__address-list {
  width: 100%;
}

.footer__address-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__address-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__addres-text {
  font-size: 16px;
}

.footer__addres-icon {
  width: 42px;
}

@media screen and (min-width: 600px) {
  .footer__content {
    gap: 125px;
  }

  .footer__columns {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  .footer__content {
    max-width: 992px;
    flex-direction: row;
    align-items: flex-start;
    padding: 160px 0 150px;
  }

  .footer__columns {
    justify-content: center;
    text-align: left;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .footer__address-info {
    align-items: flex-start;
  }

  .footer__address-list {
    justify-content: flex-start;
  }
}