.partners {
  text-align: center;
  padding: 80px 0;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  gap: 30px;
}

.partners__list-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--partners-border);
  padding: 31px 40px;
  gap: 20px;
}

.partners__list-name {
  font-size: 15px;
  line-height: 23px;
}

.partners__list-img {
  width: 100%;
}

@media(max-width: 767px) {
  .partners__list li:not(:nth-child(-n + 3)) {
    display: none;
  }
}

@media(min-width: 768px) {
  .partners__list {
    gap: 0;
  }

  .partners__list-item {
    width: 40%;
  }
}

@media(min-width: 992px) {
  .partners__list-item {
    width: 25%;
  }
}

@media(min-width: 1200px) {
  .partners__list-item {
    width: fit-content;
  }
}